<h2>When Fashion Meets Art</h2>

<p class="lead">WFMA, el blog donde encontrarás mis retratos y diseños. Los vendo, y también retrato por encargo, mándame tu foto, la de tu familia o tu pareja, es un buen regalo!</p>
<p> You are the visitor number: <%= visitors %></p>