body {
<<<<<<< HEAD
  padding: 20px;
  background-image: url("/images/bg.jpg");
=======
  padding: 50px;
>>>>>>> 8e6941c10879b3e5691e746817988b6036af1b65
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
<<<<<<< HEAD
}

article {
  border: 2px solid #ffffff;
  padding: 7px;
  margin: 20px;
  background-color: #e5f5ff;
=======
>>>>>>> 8e6941c10879b3e5691e746817988b6036af1b65
}